#  _                    _                    _               _            _
# | |    __ _ _____   _| |   _   _ _ __ ___ | |__   ___ _ __(_) __ _  ___| | __
# | |   / _` |_  / | | | |  | | | | '_ ` _ \| '_ \ / _ \ '__| |/ _` |/ __| |/ /
# | |__| (_| |/ /| |_| | |__| |_| | | | | | | |_) |  __/ |  | | (_| | (__|   <
# |_____\__,_/___|\__, |_____\__,_|_| |_| |_|_.__/ \___|_| _/ |\__,_|\___|_|\_\
#                 |___/                                   |__/

# Detections which are used to detect the blocks to remove.
detection:
  # The amount of leaf blocks that can be in between the logs and still be considered part of the tree
  leaf-range: 2

  # The amount of air blocks that can be in between the leaves and still be considered part of the tree
  air-range: 1

animations:
  slow-break:
    # Whether the slow break animation is enabled, this will visually break the logs one by one.
    enabled: true

    particles:
      # Whether the particles are enabled, this will spawn particles when breaking logs.
      enabled: true

      # The amount of particles that will be spawned when breaking a log.
      amount: 5

      # The offset of the particles, this will offset the particles from the center of the block.
      offset:
        x: 0.0
        y: 0.0
        z: 0.0

    # The delay is calculated using the formula: baseDelay / (1 + size) ^ speedFactor
    delay:
      # The amount of ms between each break cycle. Lower values will make the animation faster
      base-delay: 40

      # The speed factor of the animation. Lower values will make the animation faster.
      # This is used to change the speed based on the amount of logs, i.e. the more logs the faster the animation.
      speed-factor: 0.1

      # Take into account the type of axe, the enchantments on it, and player enchantments.
      # For example this would make a stone axe twice as fast as a wooden axe. But a wooden axe with efficiency 5 would be about the same speed as a stone axe.
      # These effects are applied on top of the regular delay calculation, this allows for customization of the realistic speeds.
      realistic-speeds:
        enabled: true
        debug: true

        # The factors for each axe type.
        axe-factors:
          WOODEN: 3
          STONE: 1.5
          IRON: 1.25
          GOLDEN: 1
          DIAMOND: 1.15
          NETHERITE:  1.10

        # The factors for each enchantment.
        enchantment-factors:
          # The factor for each level of efficiency, by default in minecraft each level is .05 faster than te last. so efficiency V is 20% faster than efficiency I.
          # So it would look like this:
          # efficiency I:   0.75.
          # efficiency II:  0.70
          # efficiency III: 0.65
          # efficiency IV:  0.60
          # efficiency V:   0.55
          efficiency: 0.05

          # The factors for each player effect.
          # The players effects are consistent across the levels, so they are calculated using factor * effect level.
        player-effect-factors:
          haste: 0.20
          mining-fatigue: 0.10

helpers:
  # Whether saplings should be placed when breaking a tree.
  # Currently only works with 1.13 and above.
  place-sapling: true

